* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

$base-weather: #38ada9;
$current-condition: #ffffff;
$min-temperature: #6a89cc;
$max-temperature: #fa983a;
$humidity-label: #7f8fa6;
$humidity: #8e8e91;

.forecast-card {
  border: 10px solid $base-weather;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.current-condition {
  background-color: $current-condition;
  padding: 5px;
  border-radius: 5px;
}

.min-temp-label,
.max-temp-label {
  background-color: $base-weather;
  padding: 5px;
  border-radius: 5px;
}

.min-temp {
  background-color: $min-temperature;
  padding: 5px;
  border-radius: 5px;
}

.max-temp {
  background-color: $max-temperature;
  padding: 5px;
  border-radius: 5px;
}

.humidity-label {
  background-color: $humidity-label;
  padding: 5px;
  border-radius: 5px;
}

.humidity {
  background-color: $humidity;
  padding: 5px;
  border-radius: 5px;
}
