* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.form-section {
  background: url('https://www.metaweather.com/static/img/weather/sn.svg');
  background-repeat: no-repeat;
}
